@charset "utf-8";

/* CSS Document */
form {
	background-color: aliceblue
}

.form-control col-sm {
	padding: 6px 12px;
	border: 0.8px;
	width: 100px;
}

.marginTop {
	margin-top: 75px;
}

.row {
	padding: 15px 0px 15px 0px;
	margin: auto;
}

.border {
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
}

.padding {
	padding: 10px 10px 10px 10px;
}

.col {
	text-align: center;
}

.container {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
}

.giaVe {
	color: red;
}

.button {
	padding: 10px 30px 10px 30px;
	color: white;
	background: cornflowerblue;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	border-color: cornflowerblue;
}